.banner {
    height: 600px;
    background-image: linear-gradient(to bottom, #28CCCC, #38d7d7, white);
    display: flex;
    padding: 0px 90px;
    justify-content: space-between;
    align-items: center;

    .info-banner {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-size: 48px;
            font-weight: 700;
            font-style: italic;
            color: white;
        }

        p {
            font-size: 20px;
            text-align: justify;
        }

        .btn-banner {
            display: flex;
            gap: 20px;

            button {
                padding: 10px;
                width: 150px;
                font-size: 15px;
                font-weight: 600;
                border-radius: 8px;
                border: 2.5px solid #00a4a4;
                color: #0BA4A4;
                background-color: white;
            }

            .saiba-mais {
                background-color: #0BA4A4;
                color: white;
            }
        }
    }

    .img-banner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 85%;
        }
    }
}

.section-data {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    padding: 0;

    .text-data {
        height: 100%;
        width: 100%;
        padding: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        .text {
            height: 100%;
            width: 600px;
            background: url(../assets/componentes-img/forma-redonda-text.svg) no-repeat center/contain;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 80px;
            gap: 20px;

            h1 {
                width: 100%;
                font-size: 30px;
                text-align: center;
            }

            p {
                width: 100%;
                text-align: justify;
            }
        }
    }

    .image-data {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 50%;
        }
    }
}

.btn-acessar {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    border: 2.5px solid #00a4a4;
    background-color: #0BA4A4;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-acessar:hover {
    color: #0BA4A4;
    background-color: white;
    transform: scale(1.08);
}

#because-project {
    background: linear-gradient(to bottom, white, #A7FFF5, white);

    .text {
        background: transparent;
        color: black;

        h1 {
            text-align: right;
        }
    }

    .image-data img {
        height: 70%;
    }

}

#objective {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    h1 {
        font-size: 30px;
    }

    .container-objectives {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 130px;

        .objective {
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                width: 77%;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
            }
        }
    }
}


#blog {
    .image-data {
        background: url(../assets/componentes-img/onda-lateral.svg) no-repeat left center/contain;
    }

    .text {
        background: transparent;
        align-items: end;
        color: black;

        h1 {
            text-align: right;
        }
    }

    .image-data img {
        height: 82%;
    }

}

#feed {
    margin: 0px;
    margin-top: 50px;

    .image-data {
        background: url(../assets/componentes-img/onda-bottom.svg) no-repeat bottom center/contain;
    }

    .text {
        background: transparent;
        align-items: start;
        color: black;

        h1 {
            text-align: left;
        }
    }

    .image-data img {
        height: 82%;
    }

}