html,
body {
    height: 94%;
    position: relative;
}

.main {
    height: 100%;
}

.section-sign-up-in {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    .container-sign {
        height: 600px;
        width: 850px;
        display: flex;
        justify-content: center;
        border-radius: 13px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

        .image-data {
            width: 100%;
            height: 100%;
            background: url('../assets/componentes-img/onda-cad-meowmory.svg') no-repeat center center/cover;
            border-radius: 10px 0 0 10px;
        }

        .field-data {
            width: 100%;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .profile-sign {
                width: 100px;
                height: 100px;
                padding: 4px;
                border-radius: 50%;
                border: 3.5px solid #0BA4A4;

                img {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                }
            }

            h1 {
                font-size: 23px;
                margin-bottom: 10px;
            }

            .container-inputs {
                display: flex;
                flex-direction: column;
                width: 80%;
                gap: 25px;

                .input {
                    position: relative;
                    display: flex;
                    border-bottom: 3px solid #0BA4A4;

                    input {
                        outline: none;
                        border: none;
                        height: 30px;
                        width: 100%;
                        background-color: transparent;
                    }

                    label {
                        position: absolute;
                        top: 0px;
                        left: 0;
                        font-size: 14px;
                        transition: .5s ease;
                        color: #0BA4A4;
                        font-weight: 500;
                    }

                    input:focus~label,
                    input:valid~label {
                        top: -15px;
                        font-size: 13px;
                    }


                    #dataNasc_input {
                        font-size: 16px;
                        color: #0BA4A4;
                    }

                    input[type="date"]::-webkit-calendar-picker-indicator {
                        cursor: pointer;
                        filter: invert(34%) sepia(97%) saturate(748%) hue-rotate(135deg) brightness(94%) contrast(97%);
                        font-size: 18px;
                    }

                    .dataNasc-label {
                        top: -15px;

                    }

                    i {
                        color: #0BA4A4;
                        font-size: 17px;
                        margin-right: 2px;
                    }
                }
            }

            p {
                font-size: 13px;
                text-align: center;

                span {
                    color: #0BA4A4;
                    font-weight: 600;
                }
            }


            #div_msg_senha {
                p {
                    font-size: 13px;
                    text-align: left;
                }

                p.active {
                    color: green;
                    font-weight: 600;
                }
            }

            button {
                height: 40px;
                width: 80%;
                border-radius: 50px;
                background-color: #00C7C7;
                border: none;
                font-weight: 600;
                color: white;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .container-sign.sign-in {
        height: 500px;
    }
}

.section-sign-up-in.cad {
    .image-data {
        transform: scaleX(-1);
    }
}



.div-background-blocked {
    display: none;
    position: absolute;
    height: 141%;
    width: 100%;
    background-color: gray;
    opacity: 0.6;
    top: -120px;
    z-index: 100;
}

.loading-div {
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 101;
    border-radius: 50%;
    border: 2px solid #8cebeb;
    background-color: white;
}

.loading-div img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #0BA4A4;
}

#div_erros_login {
    display: none;
    color: #0BA4A4;
    font-size: 13px;
    font-weight: 600;
}

.alerta_erro {
    top: 20px;
    right: 0px;
    position: absolute;
    display: none;
    justify-content: flex-end;
    z-index: 100;   
    width: 280px;
    min-height: 50px;
    border: 2px solid #0BA4A4;
    border-right: 0;
    border-radius: 12px 0 0 12px;
}

.card_erro {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d4ffff;
    color:#0BA4A4;
    width: 100%;
    border-radius: 10px 0 0 10px;
    border-left: 6px solid #0BA4A4;
    box-shadow: 0 4px 16px rgba(0, 123, 168, 0.15);
    padding: 12px 16px;
}


.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    flex: 1;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600;
}