@import url(./reset.css);
@import url(./navbar.css);

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100%;
    font-family: "Raleway", sans-serif;
}

.main {
    background-color: rebeccapurple;
    margin-top: 73px;
}
